<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8"/>
	    <title>Question Bot - Administration console</title>
	
	    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
	</head>
	<body>
	
		<div class="container-fluid"> 
			<div class="row">
			  <nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="#">Question Bot</a>
				  
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				    	<li class="nav-item">
				    	<span class="badge badge-danger">offline</span></li>
				    </ul>
				  </div>
				<form class="form-inline" method="post" action="/connect">
					<button class="btn btn-primary" type="submit">Connect</button>
				</form>
				  <a class="btn btn-sm btn-outline-secondary" href="/logout" role="button">Logout</a>
				</nav>
			</div>
			<div class="row">
				<p>Principal is bot: <span th:text="${principalIsBot}"></span></p>
				<p>Bot is connected: <span th:text="${isBotConnected}"></span></p>
			</div>
		</div>
	</body>
</html>